/* Apart from tail wind these styles will be loaded through out the site */
html {
  padding: 0;
  margin: 0;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
