/* Apart from tail wind these styles will be loaded through out the site */
html {
  padding: 0;
  margin: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

html.dark {
  padding: 0;
  margin: 0;
  --tw-text-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-text-opacity));
}
